<h1> inventory portal </h1>


<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= link_to "create new item" , new_item_path %>
  | <%= link_to "view all items", items_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "create new vendor", new_vendor_path %>
  | <%= link_to "view all vendors", vendors_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "create new cycle count" , new_cycle_count_path %>
  | <%= link_to "view all cycle counts" , cycle_counts_path %>
  </li>
  <li class="list-group-item">
    <%= link_to "view all end-of-month cycle counts" , item_cycle_counts_path %>
</li>
</ul>

<%= link_to "Sign out", destroy_user_session_path, method: :delete  %>





