
<h3> all items | current inventory counts</h3>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Vendor</th>
      <th scope="col">Updated On</th>
      <th scope="col">Delta</th>
      <th scope="col">Current On-Hand</th>
      <th scope="col">Current Value</th>
      <th scope="col">Current Need</th>
    </tr>
  </thead>
  <tbody>
  <% @row = 0 %>
        <% @items = @items.sort_by { |item| item.name } %>
        <% @items.each do |item| %>
    <tr data-link="<%= item_path(item) %>">
      <th scope="row"><%= @row += 1 %></th>
         <td> <%= item.name %> </td>
         <td> <%= item.vendor.name %> </td>
    <% @updated_at = [] %>
      <% item.item_cycle_counts.each do |item_cycle_count| %>
        <%  @updated_at.push(item_cycle_count.updated_at) %>
      <% end %>

      <% if item.item_cycle_counts.present? %>
        <td><%= @updated_at.last.strftime("%a, %b %-d %Y") %> @ <%=@updated_at.last.strftime("%H:%M") %> UTC</td>
      <% else %>
        <td> - </td>
      <% end %>

    <% if item.item_cycle_counts.present? %>
      <% if (Date.today - @updated_at.last.to_date).to_i == 1 %>
          <td> <%= (Date.today - @updated_at.last.to_date).to_i %> day ago </td>
        <% elsif (Date.today - @updated_at.last.to_date).to_i > 0 %>
          <td> <%= (Date.today - @updated_at.last.to_date).to_i %> days ago </td>
        <% else %>
          <td> today </td>
      <% end %>
    <% else %>
          <td> - </td>
    <% end %>

    <% if item.item_cycle_counts.present?%>
        <td> <%= current_item_quantity = item.item_cycle_counts.find_by(updated_at:@updated_at.last).item_quantity %> <%= item.count_type.pluralize(current_item_quantity) %></td>
        <td> <%= number_to_currency(current_item_quantity * (item.value * item.count_measurement), precision: 0) %></td>
      <% else %>
        <td> - </td>
        <td> - </td>
    </tr>
    <% end %>
      <% if item.item_cycle_counts.present? %>
       <% need = item.minimum - current_item_quantity %>
        <% if need > 0 %>
          <td><%= need %> <%= item.count_type.pluralize(need) %></td>
        <% else %>
          <td> - </td>
        <% end %>
      <% else %>
          <td> - </td>
        <% end %>
      <% end %>
  </tbody>
</table>
