<h1> all items | current on-hands</h1>

<div class="container">
  <% @items.each do |item| %>
<div class="row">
  <div class="col-sm-3">
    <%= link_to item.name, item_path(item) %>
  </div>
  <div class="col-sm-3">
    <%= item.vendor.name %>
  </div>
    <% @updated_at = [] %>
      <% item.item_cycle_counts.each do |item_cycle_count| %>
        <%  @updated_at.push(item_cycle_count.updated_at) %>
      <% end %>
  <div class="col-sm-3">
     last updated on:  <%= @updated_at.last %>
  </div>
  <div class="col-sm-3">
    <% if item.item_cycle_counts.present?%>
      <%= item.item_cycle_counts.find_by(updated_at:@updated_at.last).item_quantity %>
    <% end %>
 </div>
 </div>
  <% end %>
</div>

<%= link_to "home", root_path %>
