<h1> all items | current on-hands</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Vendor</th>
      <th scope="col">Update Date</th>
      <th scope="col">Current On-Hand</th>
    </tr>
  </thead>
  <tbody>
  <% @row = 0 %>
        <% @items = @items.sort_by { |item| item.name } %>
        <% @items.each do |item| %>
    <tr>
      <th scope="row"><%= @row += 1 %></th>
         <td> <%= link_to item.name, item_path(item) %> </td>
         <td> <%= item.vendor.name %> </td>
    <% @updated_at = [] %>
      <% item.item_cycle_counts.each do |item_cycle_count| %>
        <%  @updated_at.push(item_cycle_count.updated_at) %>
      <% end %>

        <td><%= @updated_at.last %></td>

    <% if item.item_cycle_counts.present?%>
        <td> <%= item.item_cycle_counts.find_by(updated_at:@updated_at.last).item_quantity %></td>
    </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= link_to "home", root_path %>
