<div class="background" style="background-image: url(https://res.cloudinary.com/dgb8tgxge/image/upload/e_art:al_dente,o_70/v1633054283/Warehouse_v5g6tp.jpg);">

<div class="alt-h2">
  <h3> item detail | <%= @item.name %> </h3>
</div>

<div class="item-show-responsive-top">
  <div class="container d-flex justify-content-start">
        <div class="row">
          <div class="flex-column">
            <div class="item-category"> supplier:  </div> <div class="item-info"> <%= link_to @item.vendor.name, vendor_path(@item.vendor), :class => "vendor-link" %> </div> </br>
            <div class="item-category"> value:  </div> <div class="item-info"> <%= number_to_currency(@item.value, precision:2) %> per <%= @item.purchase_type %> </div> </br>
            <div class="item-category"> purchase as:  </div> <div class="item-info"> <%= @item.purchase_type.pluralize %> </div> </br>
          </div>
        </div>
  </div>
</div>

<div class="item-show-responsive">
  <div class="container d-flex justify-content-start">
        <div class="row">
          <div class="flex-column">
            <div class="item-category"> count as:  </div> <div class="item-info"> <%= @item.count_type.pluralize %>, which contain <%= @item.count_measurement %> individual <%= @item.name.pluralize(@item.count_measurement) %> </div> </br>
            <div class="item-category"> minimum:  </div> <div class="item-info"> <%= @item.minimum %> <%= @item.count_type.pluralize %> </div> </br>
            <div class="item-category"> purchase link:  </div> <div class="item-info"> <%= @item.purchase_link %> </div> </br>
            <div class="item-category"> supplier stock ID:  </div> <div class="item-info"> <%= @item.vendor_stock_id %> </div> </br>
            <div class="item-category"> internal stock ID:  </div> <div class="item-info"> <%= @item.internal_stock_id %> </div> </br>
        </div>
      </div>
  </div>
</div>

  <% @updated_at = [] %>
        <% @item.item_cycle_counts.each do |item_cycle_count| %>
          <%  @updated_at.push(item_cycle_count.updated_at) %>
        <% end %>

      <% if @item.item_cycle_counts.present?%>

<div class="item-show-responsive-bottom">
  <div class="container d-flex justify-content-start">
    <div class="row">
      <div class="flex-column">
        <div class="item-category">  current on-hand: </div> <div class="item-info"> <%= @item.item_cycle_counts.find_by(updated_at:@updated_at.last).item_quantity %> <%= @item.count_type.pluralize(@item.item_cycle_counts.find_by(updated_at:@updated_at.last).item_quantity) %> </div>  </br>
        <div class="item-category"> last updated: </div>
        <% if (Date.today - @updated_at.last.to_date).to_i == 1 %>
          <td> <div class="item-info"> <%= (Date.today - @updated_at.last.to_date).to_i %> day ago </div> </td>
        <% elsif (Date.today - @updated_at.last.to_date).to_i > 0 %>
          <td> <div class="item-info"> <%= (Date.today - @updated_at.last.to_date).to_i %> days ago </div> </td>
        <% else %>
          <td> <div class="item-info"> today </div> </td>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="history">
    <% @item.item_cycle_counts.reverse.each do |item_cycle_count| %>
  <div class="flex-column">
    <div class="card mb-3" style="width: 20rem;">
      <div class="card-header">
        <%= item_cycle_count.updated_at.strftime("%a, %b %-d %Y") %> @ <%=item_cycle_count.updated_at.strftime("%H:%M") %> UTC
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <%= item_cycle_count.user.email.split("@")[0] %>
            counted <%= item_cycle_count.item_quantity %> <%= item_cycle_count.item.count_type.pluralize(item_cycle_count.item_quantity) %>
        </li>
      </ul>
    </div>
      <% end %>
  </div>
</div>
    <% else %>

<div class="item-show-responsive-bottom">
  <div class="container d-flex justify-content-start">
    <div class="row">
        <div class="flex-column">
          <div class="item-category"> current on-hand: </div> <div class="item-info"> unknown </div> </br>
          <div class="item-category"> last updated: </div> <div class="item-info"> never </div>
          <% end %>
        </div>
    </div>
  </div>
</div>
