<h1> <%= @item.name %> </h1>
<h2> <%= @item.vendor.name %> </h2>
<p> created by: <%= @item.user.email %> </p>

<% @updated_at = [] %>
      <% @item.item_cycle_counts.each do |item_cycle_count| %>
        <%  @updated_at.push(item_cycle_count.updated_at) %>
      <% end %>
  <div class="col-sm-3">

  </div>

  <div class="col-sm-3">
    <% if @item.item_cycle_counts.present?%>
  <p>
    current on-hand: <%= @item.item_cycle_counts.find_by(updated_at:@updated_at.last).item_quantity %> <br>
    updated on: <%= @updated_at.last   %>
    <% @item.item_cycle_counts.each do |item_cycle_count| %>
  </p>
  <p>
      <%= item_cycle_count.item_quantity %>
      <%= item_cycle_count.updated_at.strftime("%B") %>
    <% end %>
  </p>
    <% end %>
      value: <%= number_to_currency(@item.value, precision:2) %>
  </div>

<%= link_to "all items", items_path %>
<%= link_to "home", root_path %>

